# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv*/
ENV*/
env*/

# Environment variables
.env
.venv

# VS Code settings
.vscode/

# macOS
.DS_Store
